/*bloc 1*/

#projetgauche, #projetdroite
{
	height : 500px;
	width : 400px;
	position : relative;
	top : 40px;
}

#projetgauche.petit, #projetdroite.petit
{
	height : 400px;
	width : 300px;
}

#projetgauche
{
	left : 25px;
}

#projetdroite
{
	left : 46px;
}

#bloc1
{
	width : 900px;
	height : 600px;
}

/* Plusinfo */

#plusinfogauche, #plusinfodroite
{
	bottom : 5px;
	left : 5px;
	background-color : red;
	height : 20px;
	width : 340px;
	position : absolute;
	text-align : center;
}

#plusinfogauche.petit, #plusinfodroite.petit
{
	height : 20px;
	width : 290px;
}

/* Corpsprojet */

#corpsprojetgauche, #corpsprojetdroite
{
	background-color : grey;
	height : 450px;
	width : 350px;
	position: relative;
	top: 25px;
	left: 25px;
}

#corpsprojetgauche.petit, #corpsprojetdroite.petit
{
	height : 400px;
	width : 300px;
	top: 50px;
	left: 50px;
}

/* boutonplusun */

#boutonplusungauche, #boutonplusundroite
{
	height : 25px;
	width : 25px;
	background-color : yellow;
	position : absolute;
	text-align : center;
}

#boutonplusundroite.petit, #boutonplusungauche.petit
{
	height : 20px;
	width : 20px;
}

#boutonplusungauche
{
	top : 0px;
	left : 0px;
}

#boutonplusungauche.petit
{
	top : 30px;
	left : 30px;
}

#boutonplusundroite
{
	top : 0px;
	right : 0px;
}

#boutonplusundroite.petit
{
	top : 30px;
	right : 30px;
}

#boutonplusundroite.petit, #boutonplusungauche.petit, #corpsprojetgauche.petit, #corpsprojetdroite.petit, #plusinfogauche.petit, #plusinfodroite.petit
{
		-webkit-transition: all 400ms cubic-bezier(0.250, 0.250, 0.750, 0.750); 
   -moz-transition: all 400ms cubic-bezier(0.250, 0.250, 0.750, 0.750); 
     -o-transition: all 400ms cubic-bezier(0.250, 0.250, 0.750, 0.750); 
        transition: all 400ms cubic-bezier(0.250, 0.250, 0.750, 0.750);
}

#boutonplusundroite.invisible, #boutonplusungauche.invisible, #corpsprojetgauche.invisible, #corpsprojetdroite.invisible, #plusinfogauche.invisible, #plusinfodroite.invisible
{
	opacity : 0;
	-webkit-transition: all 400ms cubic-bezier(0.250, 0.250, 0.750, 0.750); 
   -moz-transition: all 400ms cubic-bezier(0.250, 0.250, 0.750, 0.750); 
     -o-transition: all 400ms cubic-bezier(0.250, 0.250, 0.750, 0.750); 
        transition: all 400ms cubic-bezier(0.250, 0.250, 0.750, 0.750);
}